<div id="<%= dom_id ebook %>">
  <p>
    <strong>Title:</strong>
    <%= ebook.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ebook.description %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= ebook.isbn %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ebook.price %>
  </p>
</div>
