<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Teste Tecnico C2s" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= render "layouts/navbar" %>
    </div>
    <main>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
